* {
    margin :0px;
}

html {
    /*background-color: #f1f1f1;*/
}

body {
    min-width: 480px;
    font-family: 'Roboto', sans-serif !important;
    height: 100%;
}

.border{
    border: 1.042px solid #dce0e0;
}

.mainbutton{
    display:inline-block;
}

.button{
    height: 33px;
    background-color: #2BB5F6;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -webkit-align-items: center; /* Safari */
    align-items:         center;
    cursor: pointer;
}

.button img{
    height: 23px;
    padding-left: 5px;
    padding-right: 5px;
}

.button span{
    padding-right: 5px;
}

.button:hover{
    background-color: #03A9F4;
}

.hamburger_menu_list{
    display: none;
}

.hamburger_menu_list ul{
   display: inline;
    list-style: none;
}

.cl_container{
    min-width: 480px;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding :0 !important;
    background-color: #ffffff;
    border-left: 1px solid rgb(24, 61, 78);
    border-right: 1px solid rgb(24, 61, 78);
}

nav{
    width: 100%;
    height :75px;
    background-color: #ffffff !important;
    position: relative;
}

nav .hamburger_menu_button{
    display: none;
    height: calc(50px - 30px);
    width: 30px;
    left: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    cursor: pointer;
}

nav .hamburger_menu_button span:nth-child(1){
    margin-top: 0 !important;
}

nav .hamburger_menu_button .icon-bar{
    width: inherit;
    height: 3px;
    margin-top: 5px;
    display: block;
    background-color: #2BB5F6;
    cursor: pointer;
}

nav .logo{
    left: 15px;
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(0, -50%);
}


nav .logo img{
    width: 173px;
}

nav .wooter_logo{
    margin-left: 15px;
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    transform: translate(0, -50%);
}

nav .wooter_logo img{
    width: 173px;
}

nav .menu {
    right: 12px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

nav .menu a{
    color: rgb(86, 90, 92);
}
nav .menu ul{
    margin-bottom: 0;  /* overriding bootsrap css*/
}

nav .menu ul li{
    list-style: none;
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    /*line-height: 1.2;*/
}

nav .menu ul li a{
    cursor: pointer;
}

nav .menu ul li .message_count img{
    width: 50px;
    height: 30px;
    z-index: 1;
    transform: translate(10px,0px);
}

nav .menu ul li .message_count span{

}

nav .menu ul li .nav_profile_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid  rgb(189, 189, 189);

}

.profile_options{
    background-color: rgb(24, 61, 78);
    /*color: #ffffff;*/
}


.first{
    max-width: 1170px;
    margin: 0 auto;
    width:100%;
    /*height: 42px;*/
    /*flex-direction: row;*/
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
    /*-webkit-align-content: stretch; /!* Safari *!/*/
    /*align-content:         stretch;*/
    font-size: 16.667px;

}

.first .second{
    height: 42px;
    line-height: 42px;
    /*text-align: center;*/
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.first .second a{
    font-family: 'Roboto';
    font-size: 16.667px;
    text-decoration: none;
    color: #ffffff;
}

.first .second:hover{
    border-bottom: 3px solid rgb(187, 187, 187);
}

.first .active{
    font-weight: 500;
    border-bottom: 3px solid rgb(187, 187, 187);;
}


.aside{
    width: 25%;
    /*max-width: 297px;*/
    float: left;
    display: block;
    min-height: 100%;
    margin-top: 33px;

}

.aside ul {
    padding: 0;
}

.aside ul li{
    list-style: none;
    margin-left: 0;
    height: 34px;
    font-size: 18px;
}

.aside ul li a{
    margin-left:33px;
    color: #183D4E;
    text-decoration: none;
    vertical-align: middle;
    line-height: 34px;
}

.aside ul li:hover{
   background-color: #f1f1f1;
}

.aside ul .active{
    background-color: #f1f1f1;
    font-weight: 500;
}

span.aside_title {
    margin-left: 33px;
    font-size: 20px;
    /* Change font to Roboto */
    color: rgb(205, 205, 205);
    line-height: 0.673;
    -moz-transform: matrix(1.63686716132159,0,0,1.55297975842149,0,0);
    -webkit-transform: matrix(1.63686716132159,0,0,1.55297975842149,0,0);
    -ms-transform: matrix(1.63686716132159,0,0,1.55297975842149,0,0);
    position: relative;
    /* set position relative for window size changes */
    /* Use percentages for moving objects */
}

.main_section{
    float: left;
    width: 75%;
    padding-left: 68px;
    padding-right: 68px;
    display: block;
    border-left: 1px solid rgb(24, 61, 78);
}

.main_section1{
    margin-top: 33px;
}

.main_section1 h2{
    margin: 0;
    font-weight: 300;
    color: rgb(104, 104, 104);
}

.main_section1 p {
    margin: 10px 0;
    font-size: 14px;
}

.main_section .main_section2 .edit_button, .main_section .main_section2 .add_button{
    border-radius: 17px;
    height: 33px;
    border: none;
    color: #ffffff;
    font-size: 14.658px;
    font-weight: bolder;
    margin-left: 10px;
    letter-spacing: 1.2px;
}
/* ________________________ */

.nav-btns {
    color: rgb(43, 181 246);
}

#next-button.btn {
    color: rgb(43, 181, 246);
    background-color: white;
    border: 1px solid rgb(43, 181, 246);
    border-radius: 5px;
    padding: 6px 40px;
    float: right;
}

button.btn a {
    color: rgb(43, 181, 246);
}

.main_section .main_section2 .edit_button img, .main_section .main_section2 .add_button img{
    height: 18px !important;
    padding-right: 4px;
}


.main_section3 h3{
    font-size: 14px;
    font-weight: 500;
    color: rgb(104, 104, 104);
}

.main_section3 .leagues{
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    max-width: 733px;
    width: 100%;
    min-height: 114px;
    z-index: 29;
    margin-bottom: 10px;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: nowrap; /* Safari */
    flex-wrap:         nowrap;
    border-radius: 7px;
}

.main_section3 .leagues .leagues_image img {
    margin:12px;
    height:90px;
    -webkit-flex-grow: 0;
    flex-grow: 0;
}

.main_section3 .leagues .leagues_name_section{
    padding-top: 12px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;
}

.main_section3 .leagues_name_section .league_name{
    margin-right: 10px;
    font-size: 18px; /* origin size is 19px*/
    font-weight: 500;
    line-height: 0.937;
    color: rgb(74, 74, 74);
}

.main_section3 .leagues_name_section .league_season{
    font-size: 15px;
    line-height: 2.007;
}

.main_section3 .league_status{
    padding-left: 5px;
    margin:12px;
    color: rgb(104, 104, 104);
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.main_section3 .league_status img{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.main_section3 .leagues .leagues_actions{
    width: 75px;
    height: inherit;
    margin-right: 12px;
    padding-top: 12px;
    position: relative;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
}

.main_section3 .leagues .leagues_actions .edit_button{
    border-radius: 7px;
    height: 29px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: 75px;
    letter-spacing: 1.2px;
}

.main_section3 .leagues .leagues_actions .edit_button img{
    height: 14px;
    padding-bottom: 2px;
    padding-right: 10px;
    margin-left: 4px;
}

.main_section3 .leagues .leagues_actions .delete_button{
    position: absolute;
    bottom: 12px;
    right: 0px;
    border-radius: 7px;
    background-color: #B8B8B8;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 75px;
    height: 28px;
}

.main_section3 .leagues .leagues_actions .delete_button img{
    height: 19px;
}

.main_section3 .leagues .leagues_actions .delete_button:hover{
   background-color: #9E9E9E !important;
}


/* Issues here. Go through and edit until all CSS works properly */
/*-----------------------------------------------------------*/

* {
    margin :0px;
}

html {
    height: 100%;
}

body {
    min-width: 480px;
    font-family: 'Roboto', sans-serif !important;
    height: 100%;
}

.border{
    border: 1.042px solid #dce0e0;
}

.mainbutton{
    display:inline-block;
}

.button{
    height: 33px;
    background-color: #2BB5F6;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap:         wrap;
    -webkit-flex-direction: row;
    flex-direction:         row;
    -webkit-align-items: center;
    align-items:         center;
    cursor: pointer;
}

.button img{
    height: 23px;
    padding-left: 5px;
    padding-right: 5px;
}

.button span{
    padding-right: 5px;
}

.button:hover{
    background-color: #03A9F4;
}

.hamburger_menu_list{
    display: none;
}

.hamburger_menu_list ul{
    display: inline;
    list-style: none;
}

.cl_container{
    min-width: 480px;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding :0 !important;
    background-color: #ffffff;
    border-left: 1px solid rgb(24, 61, 78);
    border-right: 1px solid rgb(24, 61, 78);
}

nav{
    width: 100%;
    height :75px;
    background-color: #ffffff !important;
    position: relative;
}

nav .hamburger_menu_button{
    display: none;
    height: calc(50px - 30px);
    width: 30px;
    left: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    cursor: pointer;
}

nav .hamburger_menu_button span:nth-child(1){
    margin-top: 0 !important;
}

nav .hamburger_menu_button .icon-bar{
    width: inherit;
    height: 3px;
    margin-top: 5px;
    display: block;
    background-color: #2BB5F6;
    cursor: pointer;
}

nav .logo{
    left: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}


nav .logo img{
    width: 173px;
}

nav .wooter_logo{
    margin-left: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

nav .wooter_logo img{
    width: 173px;
}

nav .menu {
    right: 12px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

nav .menu a{
    color: rgb(86, 90, 92);
}
nav .menu ul{
    margin-bottom: 0;  /* overriding bootsrap css*/
}

nav .menu ul li{
    list-style: none;
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
}

nav .menu ul li a{
    cursor: pointer;
}

nav .menu ul li .message_count img{
    width: 50px;
    height: 30px;
    z-index: 1;
    transform: translate(10px,0px);
}

nav .menu ul li .message_count span{

}

nav .menu ul li .nav_profile_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid  rgb(189, 189, 189);

}

.mobile_list{
    background-color: rgb(24, 61, 78);
}


.first{
    max-width: 1170px;
    margin: 0 auto;
    width:100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap:         wrap;
    -webkit-justify-content: space-between;
    justify-content:         space-between;
    font-size: 16.667px;

}

.first .second{
    height: 42px;
    line-height: 42px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.first .second a{
    font-family: 'Roboto';
    font-size: 16.667px;
    text-decoration: none;
    color: #ffffff;
}

.first .second:hover{
    border-bottom: 3px solid rgb(187, 187, 187);
}

.first .active{
    font-weight: 500;
    border-bottom: 3px solid rgb(187, 187, 187);;
}


.aside {
    width: 25%;
    /*max-width: 297px;*/
    float: left;
    display: block;
    min-height: 100%;
    margin-top: 33px;
}

.aside ul {
    padding: 0;
}

.aside ul li {
    list-style: none;
    margin-left: 0;
    height: 34px;
    font-size: 18px;
}

.aside ul li a {
    margin-left:33px;
    color: #183D4E;
    text-decoration: none;
    vertical-align: middle;
    line-height: 34px;
}

.aside ul li:hover {
    background-color: #f1f1f1;
}

.aside ul .active {
    background-color: #f1f1f1;
    font-weight: 500;
}

span.aside_title {
    margin-left: 33px;
    font-size: 20px;
    color: rgb(205, 205, 205);
    line-height: 0.673;
    -moz-transform: matrix(1.63686716132159,0,0,1.55297975842149,0,0);
    -webkit-transform: matrix(1.63686716132159,0,0,1.55297975842149,0,0);
    -ms-transform: matrix(1.63686716132159,0,0,1.55297975842149,0,0);
    position: relative;
}

.main_section {
    float: left;
    width: 75%;
    padding-left: 68px;
    padding-right: 68px;
    display: block;
    border-left: 1px solid rgb(24, 61, 78);
}

.main_section1{
    margin-top: 33px;
}

.main_section1 h2{
    margin: 0;
    font-weight: 300;
    color: rgb(104, 104, 104);
}

.main_section1 p {
    margin: 10px 0;
    font-size: 14px;
}

.main_section .main_section2 .edit_button, .main_section .main_section2 .add_button{
    border-radius: 17px;
    height: 33px;
    border: none;
    color: #ffffff;
    font-size: 14.658px;
    font-weight: bolder;
    margin-left: 10px;
    letter-spacing: 1.2px;
}

.main_section .main_section2 button img{
    height: 23px;
    padding-right: 4px;
}

.main_section h5 {
    color: rgb(104,104,104);
}

.main_section3 h3{
    font-size: 14px;
    font-weight: 500;
    color: rgb(104, 104, 104);
}

.main_section .main_section2 .edit_button img, .main_section .main_section2 .add_button img{
    height: 18px !important;
    padding-right: 4px;
}


.main_section3 h3{
    font-size: 14px;
    font-weight: 500;
    color: rgb(104, 104, 104);
}

.main_section3 .leagues{
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    max-width: 733px;
    width: 100%;
    min-height: 114px;
    z-index: 29;
    margin-bottom: 10px;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: nowrap; /* Safari */
    flex-wrap:         nowrap;
    border-radius: 7px;
}

.main_section3 .leagues .leagues_image img {
    margin:12px;
    height:90px;
    -webkit-flex-grow: 0;
    flex-grow: 0;
}

.main_section3 .leagues .leagues_name_section{
    padding-top: 12px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;
}

.main_section3 .leagues_name_section .league_name{
    margin-right: 10px;
    font-size: 18px; /* origin size is 19px*/
    font-weight: 500;
    line-height: 0.937;
    color: rgb(74, 74, 74);
}

.main_section3 .leagues_name_section .league_season{
    font-size: 15px;
    line-height: 2.007;
}

.main_section3 .league_status{
    padding-left: 5px;
    margin:12px;
    color: rgb(104, 104, 104);
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.main_section3 .league_status img{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.main_section3 .leagues .leagues_actions{
    height: inherit;
    margin-right: 12px;
    padding-top: 12px;
    position: relative;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    color: #ffffff;
    font-weight: 500;
}

#current_leagues .leagues_actions{
    width: 75px;
}

.main_section3 .leagues .leagues_actions .edit_button, .renew_button, .unarchive_button{
    border-radius: 7px;
    height: 29px;
    font-size: 16px;
    letter-spacing: 1.2px;
    position: absolute;
    right: 0;
    top: 12px;
}

.main_section3 .leagues .leagues_actions .edit_button{
    width: 75px;
}


.main_section3 .leagues .leagues_actions .edit_button img{
    height: 14px;
    padding-bottom: 2px;
    padding-right: 10px;
    margin-left: 4px;
}

.main_section3 .leagues .leagues_actions .delete_button, .archive_button{
    position: absolute;
    bottom: 12px;
    right: 0px;
    border-radius: 7px;
    background-color: #B8B8B8;
    font-size: 12px;
    letter-spacing: 1px;
    /*width: 75px;*/
    height: 29px;
}

.main_section3 .leagues .leagues_actions .delete_button img{
    height: 19px;
    /*margin-bottom: px;*/
}

.main_section3 .leagues .leagues_actions .delete_button:hover{
    background-color: #9E9E9E !important;
}

/*past leagues*/

#past_leagues .leagues_actions{
    width: 120px;
}

#past_leagues .main_section3 .leagues .leagues_actions .renew_button img{
    height: 18px;
    padding-down:2px;
    padding-right: 5px;
}

#past_leagues .archive_button{
    right: 84px;
    width: 80px;
}

#past_leagues .archive_button img{
    height: 15px;
}

/*archives*/

#archives .leagues_actions{
    width: 125px;
}

#archives .main_section3 .leagues .leagues_actions .unarchive_button img{
    height: 16px;
    padding-bottom: 2px;
    padding-right: 5px;
}







