.dash_container{
    /*max-width: 1170px !important;*/
    /*width: 100%;*/
}

.left_panel{
    max-width: 440px;
    width: 38%;
    display: block;
    float: left;
}

.profile_card{
    width: 100%;
    margin-top: 22px;
    font-family: 'Roboto';
}

.profile_card .profile_image{
    display: block;
    width: inherit;
    background-color: rgb(24, 61, 78);
    text-align: center;
    height: 240px;
    display: block;

}

.profile_card .profile_image img {
    width: inherit;
    height: 240px;
    opacity: 0.478;
}

.profile_card .profile_image p{
    transform: translate(0,-200px);
    color: #ffffff;
    font-size: 5rem;
    font-family: Roboto !important;
    letter-spacing: 5px;
    font-weight: lighter;
}

.profile_card .profile_image p:nth-child(3){
    font-size: 25px;
}

.profile_card .profile_logo {
    background-color: #f1f1f1;
    width: inherit;
    border-top: none !important;
}

.profile_card .profile_logo img{
    transform: translate(0,-60px);
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    /*opacity: 0.478;*/
    background-color: rgb(24, 61, 78);
    /*z-index: -1;*/
}

.profile_card .profile_details {
    transform: translate(0,-50px);
    background-color: #f1f1f1;
    text-align: center;
    border-top: none !important;
}

.profile_card .profile_details a{
    font-size: 13px;
    letter-spacing: 0.8px;
    color: #2BB5F6;
    padding-bottom: 10px;
    display: block;
}

.profile_leagues {
    transform: translate(0,-20px);
    background-color: #f1f1f1;
    padding-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

.profile_leagues span{
    font-size: 18px;
    color: rgb(104, 104, 104);
    margin: 7px 0 0 7px;
    display: block;
}

.profile_leagues .leagues{
    /*min-height: 114px;*/
    background-color: #ffffff;
    margin: 7px;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 7px;
}

.profile_leagues .leagues .leagues_image img{
    margin:12px 10px 12px 12px;
    height:90px;
    float: left;
    width: 119px;
}

.profile_leagues .leagues .leagues_name{
    float: left;
}

.profile_leagues .leagues .leagues_name div{
    width: 100%;
}

.profile_leagues .leagues .leagues_name .league_name span{
    font-size: 18px;
    position: absolute;
    top: 0;
    overflow: hidden;
}
.profile_leagues .leagues .leagues_name .leagues_actions{
    position: absolute;
    bottom: 12px;
}

.profile_leagues .leagues .leagues_name .leagues_actions .manage_button{
    border-radius: 7px;
    height: 33px;
    border: none;
    background-color: #2BB5F6;
    color: #ffffff;
    font-size: 14.658px;
    font-weight: 600;
    margin-left: 10px;
    letter-spacing: 1.2px;
}


.profile_leagues .leagues .leagues_name .leagues_actions .edit_button{
    border-radius: 7px;
    height: 33px;
    border: none;
    background-color: #ffffff;
    color: #2BB5F6;
    font-size: 14.658px;
    font-weight: 600;
    margin-left: 10px;
    letter-spacing: 1.2px;
    border: 1px solid #2BB5F6;
}

/*.profile_leagues .leagues .leagues_name .leagues_actions .edit_button:hover {*/
    /*background-color: #2BB5F6;*/
    /*color: #ffffff;*/
/*}*/

/*.profile_leagues .leagues .leagues_name .leagues_actions .edit_button:hover img{*/
    /*background-color: #2BB5F6;*/
/*}*/

.profile_leagues .leagues_create{
    width: 100%;
    margin-top: 18px;
    display: block;
}

.profile_leagues .leagues_create div:nth-child(1){
    float: left;
    padding-left: 20px;
}

.profile_leagues .leagues_create div:nth-child(2){
    float: right;
    padding-right: 20px;
}


.profile_leagues .leagues_create a{
    font-size: 13px;
    letter-spacing: 0.8px;
    color: #2BB5F6;
    padding-bottom: 10px;
}

/*right panel*/

.right_panel{
    max-width: 730px;
    width: 62%;
    float: left;
    padding-left: 30px;
    display: block;
}

/*notifications*/

.notifications_panel, .upcoming_events{
    margin-top: 22px;
    background-color: #f1f1f1;
    width: 100%;
    display: block;
    padding-bottom: 15px;
}

.notifications_panel .panel_name, .upcoming_events .panel_name{
    font-size: 18px;
    color: rgb(104, 104, 104);
    padding: 8px 0 0 7px;
    display: block;
}

.notifications_panel .notifications_list,  .upcoming_events .upcoming_events_list{
    margin: 8px;
    background-color: #ffffff;
    display: block;
    padding: 35px 18px;
    font-size: 16px;
    color: #2BB5F6;
    border-radius: 7px;
    overflow: hidden;
}

/*upcoming events*/

.upcoming_events .upcoming_events_list{
    padding: 11px 0 11px 15px !important;
}


.upcoming_events .upcoming_events_list .event_dates{
    width: 64px;
    display: block;
    float:left;
    text-align: center;
    border-radius: 7px;
}

.upcoming_events .upcoming_events_list .event_dates span{

}

.upcoming_events .upcoming_events_list .event_dates .month{
    width: 64px;
    border-radius: 7px;
    border-color: #2BB5F6 !important;
}

.upcoming_events .upcoming_events_list .event_dates .month div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    line-height: 1;
}

.upcoming_events .upcoming_events_list .event_dates .month .event_date{
    font-size: 37px;
}

.upcoming_events .upcoming_events_list .event_dates .month .event_month{
    font-size: 20px;
    /*position: absolute;*/
    /*top:40px;*/
}

.upcoming_events .upcoming_events_list .all_events{
    float:left;
    display: block;
    padding-left: 15px;
    width: calc(100% - 64px - 15px);
}

.upcoming_events .upcoming_events_list .all_events .list_of_events{
    list-style: none;
    padding: 0;
    width: 100%;
    border: none !important;
    white-space: normal !important;
}

.upcoming_events .upcoming_events_list .all_events .event_name{
    padding-top: 18px;
    padding-bottom: 13px;
}

.upcoming_events .upcoming_events_list .all_events .list_of_events .table{
    margin-bottom: 0 !important; /*overriding bootstrap css*/

}

.upcoming_events .upcoming_events_list .all_events .list_of_events .table td{
    padding-left: 0 !important;  /*overriding bootstrap css*/
}

.upcoming_events .upcoming_events_list .all_events .list_of_events .table tr td:nth-child(1){
    color: rgb(74, 74, 74);
}

.upcoming_events .all_upcoming_events{
    width: 100%;
    margin-top: 18px;
    display: block;
    text-align: right;
    /*color: rgb(43, 181, 246) !important;*/
    padding-right: 20px;
}

.upcoming_events .all_upcoming_events a{
    color: #2BB5F6 !important;
}

/*overriding bootstrap css*/
.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th{
    white-space: normal !important;
}

@media only screen and (min-width : 992px) {
    .dash_container{
        padding: 0 !important;
        width: 100% !important;
    }

}

@media only screen and (min-width : 768px) and (max-width: 990px) {

    .dash_container{
        padding: 0 !important;
        width: 100% !important;
    }

    .left_panel{
        width: 45%;
    }

    .right_panel{
        width: 55%;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 320px) and (max-width:768px) {

    .left_panel{
        float: none;
        width: 100%;
        margin: 0 auto !important;
        display: block;
    }

    .left_panel .profile_card{

    }

    .left_panel .profile_leagues{
        display: block;
    }

    .right_panel{
        width: 90% !important;
        display: block;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        float: none;
    }

}





