a{
	color: #52c2f8; 
}

.clear{
	clear: both;
}

.hr_thick{
	border: 1px solid #f2f2f2;
}

.container{
	background-color:#fff;
	font-family: 'Robotolight', sans-serif;
	padding: 40px 40px!important;
}

.hide{
	display: none;
}


.drop_bass{
	width: 100%;
	padding: 5px 0px 5px 15px;
}


.account_block{
	font-weight: 300;

}

.account_title{
	font-size: 30px;
}

.account_nav ul{
	padding: 0px;
	width: 95%;
	margin: 0 auto;
}

.account_nav ul li{
	text-decoration: none;
	display: inline-block;
	width: 24.5%;
	text-align: center;
	font-size: 17px;
}

.acc_tabs{
	text-decoration: none;
	color: black;
	text-decoration: none!important;
	color: black!important;
}

.acc_tabs:hover{
	border-bottom: 3px solid #183d4e;
}

.activated{
	border-bottom: 3px solid #183d4e;
}

.payment_p{
	padding: 0px!important;
	font-size: 17px;
}

.button_pos{
	text-align: center;
	margin-top: 20px;
}

.button_pos_right{
	float: right;
	margin-top: 40px;
}

.add_button{
	border: 1px solid #52C2F8;
	background-color: #52C2F8;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding: 10px;
	color: white;
	text-decoration: none;
	line-height: 1.2;
}

.add_button:hover{
	color: white;
	text-decoration: none;
}

.add_button img{
	width: 30px;
	margin-right: 10px;
}


.spacing{
	padding: 20px 0px;
}

.spacing_tab1{
	padding: 20px 0px 30px;
}


.table_borders{
	border-top: 2px solid #f2f2f2;
	border-bottom: 2px solid #f2f2f2;
}

.table_borders_rows{
	border-bottom: 2px solid #f2f2f2;
}

.table_borders_rows td{
	padding: 10px 0px;
	width: 23%
}

.table_borders th{
	padding: 10px 0px;
	width: 23%
}

.action_width{
	width: 5%!important;
}

.small_star{
	width: 20px;
	padding-right: 5px;
	margin-top: -5px
}


.transaction_table_borders{
	border-top: 2px solid #f2f2f2;
	border-bottom: 2px solid #f2f2f2;
}

.transaction_table_borders_rows{
	border-bottom: 2px solid #f2f2f2;
}

.transaction_table_borders_rows td{
	padding: 10px 0px;
	width: 18%;
}

.transaction_table_borders th{
	padding: 10px 0px;
	width: 18%
}

.transaction_action_width{
	width: 8%!important;
	text-align: right;
}

.transaction_action_width2{
	width: 12%!important;
	text-align: right;
}


.grey_headers{
	color: #999;
	font-weight: bold;
	margin-bottom: -15px;
}

.left_tabs{
	padding: 0px!important;
	margin-top: -15px
}

.left_tabs2{
	padding: 0px!important;
}

.settings_section{
	margin-bottom: 0px;
	width: 100%;
	float: left;
}

.slim_margins{
	margin:0px!important;
}


.checkboxes{
	width: 20px;
	height: 20px;
}

.left_tabs2 label{
	font-weight: normal!important;
}

.background_checkboxes label{
	font-weight: normal!important;
}


.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #000;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
     content     : '✓';
	  color       : #52c2f8;
	  font-size   : 1em;
	  line-height : 1em;
	  font-weight : bold;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
}


.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}